.Base{
    display: flex;
    justify-content: center;
    flex-direction: column;
   //background-color: aliceblue;
}
.PageName{
    margin-left: auto;
    margin-right: auto;
}
.searchBar{
    margin-left: auto;
    margin-right: auto;
}
.chapterTitle{
    margin-left: auto;
    margin-right: auto;
}
.viewer{
    margin-left: auto;
    margin-right: auto;
}